.navbar{
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 9999;
    width: 100%;
}

#cont img{
    width: 100%;
    object-fit: cover;
  object-position: right top;
}


#add img{
    width: 100%;

}
#small img{
    width: 25%;
    border-radius: 50%;
}
#btn:hover{
    background-color: black;
    color: rgb(255, 255, 255);
    outline-color: white;
    transition: 0.9s;
}
#btn{
    background-color: rgb(249, 0, 0);
    color: rgb(255, 255, 255);
    
}
#btn1:hover{
    background-color: black;
    color: rgb(255, 255, 255);
    outline-color: white;
    transition: 0.9s;
}
#btn1{
    background-color: rgb(249, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    
}
